* {
    padding: 0;
    margin: 0;
}

body {

}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: white;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    background: black;
}

.field {
    height: 190px;
    width: 190px;
    background: white;
}